.component{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    
}
.itemIngredient{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    min-width: 250px;
    text-align: center;
    position: relative;
}
.header{
    composes:component
}
.itemlist{
    overflow-x: scroll;
    overflow-y: hidden;
}
.link{
    text-decoration: none;
}