.section{
    max-width: 600px;
    display: flex;
    justify-content: right;
    flex-direction: column;
    max-height: 912px;
    width: 600px;
    height: 900px;
    top:128px;
    left: 1020px;
}   
.scrollbox{
    
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    max-height: 500px;
    margin: 0px;
    padding: 0px;
}
.construct{
    max-height: 180px;
    height: auto;
    width: 500px;
    background-color: #1c1c21;
    border-radius: 40px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-top: 16px;
}
.construct:hover{
    cursor: pointer;
}

.summary{
    display: inline-flex;   
}
.imgingr{
    border-radius: 50%;
    border: 2px solid;
    border-color: purple;
    width: 36px;
    height: 36px;
    margin-right: -5px;
    overflow: hidden;
    opacity: 1;
    background-size: contain;
    background-color: black;
}
.headleft{
    float: right;
    color: gray;
}
.summ{
    float: right;
    color: white;
    text-align: center;
}
.name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.link{
    text-decoration: none;
    
}

