.section{
    max-width: 600px;
    display: flex;
    justify-content: right;
    flex-direction: column;
    max-height: 912px;
    width: 600px;
    height: 900px;
    top:128px;
    left: 1020px;
}   
.readybox{
    max-width: 600px;
    display: flex;
    flex-direction: row;
    width:100%;
   /* max-height: 500px;*/
    margin: 0px;
    padding: 0px;
}
.readyboxitem{
    max-height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.construct{
    max-height: 150px;
    height: 140px;
    width: 500px;
    background-color: #1c1c21;
    border-radius: 40px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}
.construct:hover{
    cursor: pointer;
}

.summary{
    display: inline-flex;   
}

.headleft{
    float: right;
    color: gray;
}
.summ{
    float: right;
    color: white;
    text-align: center;
}

