.details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.detailsItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.close{
    margin-left: auto;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width:100%;
}
.header:hover{
    cursor: pointer;
}
img{
    height: 256px;
    width: auto;
}

