.section{
    max-width: 600px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    max-height: 912px;
    width: 600px;
    height: auto;
    top:128px;
    left: 380px;
    margin-bottom: 20px;
    padding: auto;
}
.scrollbox{
    composes: section;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    max-height: 600px;
}
.tab{
    display: flex;
    flex-direction: row;
}